.Rproj.user
.Rhistory
.RData
.Ruserdata

data/input/*
!data/input/readme.txt
data/processed/*
!data/processed/readme.txt

*.xls
*.xlsx
*.docx
*.doc
*.pptx
*.ppt

*.png
*.jpg
*.jpeg

*.html

*.rds
*.zip
*.gz
*.bzip2
